<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Planner</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <main class="container">
<!-- Section: SidebarL -->
        <section class="sidebarL"> border left</section>
<!-- Section: Header & Navigation -->
        <section class="sec_header container_flex">
            <div id="logo" class="flex_item_1">
                <h1>
                    TRAVEL PLANNER - PROJECT-05
                </h1>
            </div>
            <div id="navigation" class="flex_item_1">          
                <div class="container_flex">
                    <div class="flex_item_1">
                        <a href="https://www.udacity.com/">
                            UDACITY
                        </a>
                    </div>
                    <div class="flex_item_1">
                        <a href="https://github.com/cgbosse/udaCfrontEndDev-proj4">
                            Project GitHub Repository
                        </a>
                    </div>        
                </div>
            </div>
        </section>
<!-- Section: Input -->
        <section class="sec_input">
            <form id="input_form"  class="">
                <div class="container_flex">    
                    <div class="flex_item_1 box"> 
                        <h3>
                            Origin
                        </h3>
                        <div class ="input_field">
                            <input form="input_form" name="orig_city" value="" onblur="" type="text" id="orig_city" placeholder="Enter city of origin">
                        </div>
                        <div class ="input_field">
                            <input form="input_form" name="orig_country" value="" onblur="" type="text" id="orig_country" placeholder="Enter country of origin">
                        </div>
                    </div>
                    <div class="flex_item_1 box"> 
                        <h3>
                            Destination
                        </h3>
                        <div class ="input_field">
                            <input form="input_form" name="dest_city" value="" onblur="" type="text" id="dest_city" placeholder="Enter city of destination">
                        </div>
                        <div class ="input_field">
                            <input form="input_form" name="dest_country" value="" onblur="" type="text" id="dest_country" placeholder="Enter country of destination">
                        </div>
                    </div>
                    <div class="flex_item_1 box"> 
                        <h3>
                            Dates & Days of Stay
                        </h3>
                        <div class ="flex_item_1 input_field">
                                <input form="input_form" name="dep_date" value="" onblur="" type="date" id="dep_date" placeholder="Enter departure">
                        </div>
                        <div class ="flex_item_1 input_field">
                                <input type="number" name="dest_days" placeholder="Enter planned days">
                        </div>
                    </div>
                    <div class="flex_item_1 button_container">  
                        <div class="button">
                            <button type="button" name="" onclick="return Client.clearForm(event)" onsubmit="return Client.clearForm(event)">Clear Form</button>
                        </div>
                    </div>
                    <div class="flex_item_1 button_container"> 
                        <div class="button">
                            <button type="button" name="" onclick="return Client.handleSubmitApi(event)" onsubmit="return Client.handleSubmitApi(event)">Save Trip</button>
                        </div>
                    </div>
                </div>
            </form> 
        </section>
<!-- Section: Trip -->
        <section id="" class="sec_trip">
            <div class="sec_title">
                <h2>
                    TRIP OVERVIEW
                </h2>
            </div>
            <section class="container_trip">
                <div class="trip_title container_flex">
                    <div id="tripId" class="trip_id">
                        00
                    </div>                
                    <div class="flex_item_1" >
                        <h2 id="tripDest" class="destination">
                            None Selected
                        </h2>
                    </div>    
                    <div class="flex_item_1">
                        <h2 id="tripDate" class="date">
                            None Selected
                        </h2>
                    </div>    
                    <div class="flex_item_1">
                        <h2 id="daysAway" class="days2go">
                            None Selected
                        </h2>
                    </div>
                </div>
                <!-- Image -->
                <div id="tripImg" class="trip_image">
                    <img class="img_fit" src=" " alt="None Selected">
                </div>
                <!-- Weather Current -->
                <div class="trip_weather"> 
                    <div class="weather_current">
                        <div>
                            <h2>
                                Current Weather at Destination
                            </h2>
                        </div>   
                        <div class="container_flex">
                            <div class="flex_item_1">
                                <h3>
                                    Temperature
                                </h3>
                                <div id="wCurTemp" class="data">
                                    NA
                                </div>
                            </div>    
                            <div class="flex_item_1">
                                <h3>
                                    Description
                                </h3>
                                <div id="wCurDesc" class="data">
                                    NA
                                </div>
                            </div>        
                        </div>
                    </div>
                   <!-- Weather Forecast -->
                    <div class="weather_forecast">
                        <h2>
                            Weather Forecast at Destination
                        </h2>
                        <div>
                            <div class="container_flex">
                                <div class="flex_item_1">
                                    <h3>
                                        Temperature
                                    </h3>
                                    <div id="wForTemp" class="data">
                                        NA
                                    </div>
                                </div>    
                                <div class="flex_item_1">
                                    <h3>
                                        Description
                                    </h3>
                                    <div id="wForDesc" class="data">
                                        NA
                                    </div>
                                </div>  
                            </div>    
                        </div>    
                    </div>
                </div>
                <!-- Notes -->
                <div class="trip_notes"> 
                    <div class="notes_title">
                        <h2>
                            Notes
                        </h2>
                    </div>
                    <div class="middle">
                        <h3>
                            Transport
                        </h3>
                        <textarea name="transport" id="noteTransport" cols="" rows="3" placeholder="Please enter transport details"></textarea>
                    </div>
                    <div class="middle">
                        <h3>
                            Hotel
                        </h3>
                        <textarea name="hotel" id="noteHotel" cols="" rows="3" placeholder="Please enter hotel details"></textarea>
                    </div>
                    <div class="middle">
                        <h3>
                            Other
                        </h3>
                        <textarea name="other" id="noteOther" cols="" rows="3" placeholder="Please enter other details"></textarea>
                    </div>
                </div>
            </section>
<!-- Section: Trip Menu -->
            <section class="trip_menu container_flex">
                <div class="flex_item_1">
                        
                </div>
                <div class="flex_item_1"> 
            
                </div>    
                <div class="flex_item_1"> 

                </div>
                <div class="flex_item_1 button_container"> 
                    <div class="button">
                        <button type="button" onclick="return Client.updateTrip(event)" onsubmit="return Client.updateTrip(event)">
                            Update
                        </button>
                    </div>        
                </div>
                <div class="flex_item_1 button_container"> 
                    <div class="button">
                        <button type="button" onclick="return Client.delTrip(event)" onsubmit="return Client.delTrip(event)">
                            Delete
                        </button>
                    </div>
                </div>
            </section>
       </section>
<!-- Section: Saved Trips --> 
       <section id="secSaved" class="sec_saved">
        <div class="sec_title">
            <h2>
                SAVED TRIPS
            </h2>
        </div>
        <div class="newtrip"></div>
       </section>
<!-- Section: Footer --> 
       <footer class="sec_footer">
            <div id="footertitle">    
                <h2>
                    Project Resources
                </h2>
            </div>
            <div class="container_flex">
                <div class="flex_item_1">
                    <a href="https://pixabay.com/">
                        Pixabay
                    </a>
                </div>
                <div class="flex_item_1">
                    <a href="https://www.geonames.org/">
                        Geoname
                    </a>
                </div>
                <div class="flex_item_1">
                    <a href="https://www.weatherbit.io/">
                        Weatherbit
                    </a>
                </div>
               
                <div class="flex_item_1">
                <a href="https://webpack.js.org/">
                    WEBPACK
                </a>
                </div>
                <div class="flex_item_1">
                    <a href="https://nodejs.org/">
                        NODE.JS
                    </a>
                </div>
                <div class="flex_item_1">
                    <a href="https://github.com/">
                        GitHub
                    </a>
                </div>        
            </div>
       </footer> 
       <section class="sec_borderR"> </section>
   </main>	 


        <!-- L2 Step 8 --> 
        <script type="text/javascript" src="../../../dist/main.js"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
