<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <main class="container">
        <section class="sidebarL"> border left</section>
        <section class="sec_header container_flex">
            <div id="logo" class="flex_item_1">
                <h1>TRAVEL PLANNER - PROJECT-05</h1>
            </div>
            <div id="navigation" class="flex_item_1">          
                <div class="inlineflexnav">
                    <div class="flex_item_1">
                        <a href="https://www.udacity.com/">UDACITY</a>
                    </div>
                    <div class="flex_item_1">
                        <a href="https://github.com/cgbosse/udaCfrontEndDev-proj4">Project GitHub Repository</a>
                    </div>        
                </div>
            </div>
        </section>
        <section class="sec_input">
            <form id ="input_form"  class="" onsubmit="return Client.handleSubmitApi(event)">
                <div class="container_flex">    
                    <div class="flex_item_1 box"> <h3>Origin</h3>
                        <div class ="input_field">
                            <input form="input_form" name="orig_city" value="" onblur="onBlur()" type="text" id="orig_city" placeholder="Enter city of origin">
                        </div>
                        <div class ="input_field">
                            <input form="input_form" name="orig_country" value="" onblur="onBlur()" type="text" id="orig_country" placeholder="Enter country of origin">
                        </div>
                    </div>
                    <div class="flex_item_1 box"> <h3>Destination</h3>
                        <div class ="input_field">
                            <input form="input_form" name="dest_city" value="" onblur="onBlur()" type="text" id="dest_city" placeholder="Enter city of destination">
                        </div>
                        <div class ="input_field">
                            <input form="input_form" name="dest_country" value="" onblur="onBlur()" type="text" id="dest_country" placeholder="Enter country of destination">
                        </div>
                    </div>
                    <div class="flex_item_1 box"> <h3>Dates & Days of Stay</h3>
                        <div class ="flex_item_1 input_field">
                                <input form="input_form" name="dep_date" value="" onblur="onBlur()" type="date" id="dep_date" placeholder="Enter departure">
                        </div>
                        <div class ="flex_item_1 input_field">
                                <input type="number" name="dest_days" placeholder="Enter planned days">
                        </div>
                    </div>
                    <div class="flex_item_1 box">  

                    </div>
                    <div class="flex_item_1 button"> 
                        <input type="submit" name="" value="Save Trip" onclick="return Client.handleSubmitApi(event)" onsubmit="return Client.handleSubmitApi(event)">
                    </div>
                    
                </div>
            </form>
       
        </section>
        <section class="sec_trip container_flex"> TRIP
           <div class="flex_item_2 image"> 
               IMAGE
            </div>
           <div class="flex_item_1"> 
               <h2>Trip to destination</h2>
               <h3>27/07/2022 to 08/08/2022</h3>
               <div class="weather_forecast">
                    The weather for your trip will be......
               </div>
            </div>
           <div class="flex_item_1"> Box 03</div>
           <div class="flex_item_1"> Box 04</div>
        </section>
        <section class="sec_notes container_flex"> NOTES
           <div class="flex_item_1"> Box 01</div>
           <div class="flex_item_1"> Box 02</div>
           <div class="flex_item_1"> Box 03</div>
           <div class="flex_item_1"> Box 04</div>
           <div class="flex_item_1"> Box 05</div>
       </section>
           <section class="sec_saved container_flex"> SAVED
            <div class="flex_item_1"> Box 01</div>
           <div class="flex_item_1"> Box 02</div>
           <div class="flex_item_1"> Box 03</div>
           <div class="flex_item_1"> Box 04</div>
           <div class="flex_item_2"> Box 05</div>
       </section>
       <footer class="sec_footer">
            <div id="footertitle">    
                <h2>Project Resources</h2>
            </div>
            <div class="container_flex">
                <div class="flex_item_1">
                    <a href="https://github.com/">GitHub</a>
                </div>
                <div class="flex_item_1">
                    <a href="https://pixabay.com/">
                        <img src="https://pixabay.com/static/img/public/leaderboard_b.png" alt="Pixabay" width="33%">
                    </a>
                </div>
                <div class="flex_item_1">
                <a href="https://webpack.js.org/">WEBPACK</a>
                </div>
                <div class="flex_item_1">
                    <a href="https://nodejs.org/">NODE.JS</a>
                </div>
                <div class="flex_item_1">
                    <a href="https://github.com/">GitHub</a>
                </div>        
            </div>
       </footer> 
       <section class="sec_borderR"> border right </section>
   </main>	 


        <!-- L2 Step 8 --> 
        <script type="text/javascript" src="../../../dist/main.js"></script>
        <!--
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
        -->

    </body>
</html>
