
footer {
    text-align: center;
    padding: 5px;
    background-color:white;
    color: white;
    background-color: rgb(67, 78, 92);
}

#footertitle{
    padding: auto;
    margin: auto;
}

footer div.flex_item_1 {
    display: block;
    padding: 5px;
    height: 30px;
    min-width: 100px;
}