
footer {
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    background-color: yellowgreen;
}

#footertitle{
    padding: auto;
    margin: auto;
}

footer div.flex_item_1 {
    display: block;
    padding: 5px;
    height: 30px;
    min-width: 100px;
}