form {
    width: 100%;
    padding: 10px;
    background-color: rgb(11, 96, 167);
}

form h3 {
    color: white;;
}

input {
    height: 25px;
    padding: 10px;
    width: 90%;
    line-height: 12px;
    margin: 5px 0px;
    color: black;
    border-radius: 5px;
    font-size: 12px;
}

form input[type="submit"] { 
    width: 50%;
    line-height: 12px;
    background-color: grey;
    vertical-align: middle;
}

form div.flex_item_1 {
    min-width: 20%;
}

form textarea { 
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-sizing: border-box;
}

.results {
    border: 1px solid darkgray;
    border-radius: 10px 10px 0px 0px;
    padding: auto;
    background-color: darkgray;

}

#resultsApi {
    width: 100%;
    color: white;
}

.resultsbox {
    max-width: 900px;
    background-color: rgb(11, 96, 167);
    display: flex;
    flex-direction: row;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.resultsboxitem {
    min-width: 200px;
    text-align: right;
    
}

.resultsboxitem {
    min-width: 200px;
    text-align: right;
    
}

.resultsboxitemapi {
    min-width: 200px;
    padding-left: 10px;
    text-align: left;
    
}


//---------------- NEW Project 05---- 
// ------------- Trip Container Elements - Grid Setup-------------
.container_trip {
        display: grid;
        grid-template-columns: 10% 10% 15% 35% 10% 10% 10%;
        grid-template-rows: auto 150px 150px auto; 
        grid-template-areas: 
              "trip_title trip_title trip_title trip_title trip_title trip_title trip_title"	
              "trip_image trip_image trip_image trip_weather trip_notes trip_notes trip_notes"
              "trip_image trip_image trip_image trip_weather trip_notes trip_notes trip_notes"
              "trip_menu trip_menu trip_menu trip_menu trip_menu trip_menu trip_menu";
      }

.trip_title {
    grid-area: trip_title;
    padding: auto;

    border: 1px;
}
.trip_image {
    grid-area: trip_image;
    background-color: lightsalmon;

}

.img_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}


.trip_weather {
    grid-area: trip_weather;
    background-color: lightcyan;
}
.trip_notes {
    grid-area: trip_notes;
    background-color: lightcoral;
}
.trip_menu {
    grid-area: trip_menu;

}

// ----- centering elements ---- 


div.notes_title {
    width: 100%;
    padding: auto;
    border: 1px black;

}

.middle {
    margin: 15px;
}

.container {
    display: grid;
    grid-template-columns: 0% 20% 20% 10% 10% 10% 10% 10% 10% 0%;
    grid-template-rows: auto auto auto auto auto auto; 
    grid-template-areas: 
          "borderL header header header header header header header header borderR"	
          "borderL input input input input input input input input borderR"
          "borderL trip trip trip trip trip trip trip trip borderR"
          "borderL notes notes  notes  notes  notes  notes  notes  notes  borderR"
          "borderL saved saved  saved  saved  saved  saved  saved  saved  borderR"
          "borderL footer footer  footer  footer  footer  footer  footer  footer  borderR";
  }

  .sidebarL {
      grid-area: borderL;
  } 
  .sidebarR {
      grid-area: borderR;
  } 
  
  .sec_header {
      grid-area: header;
      min-height: 75px;
      background-color: black;
  } 
  
  .sec_input {
      grid-area: input;
      min-height: 100px;
      max-width: 100%;
      padding: auto;
  } 
  
  .sec_trip {
      grid-area: trip;
      min-height: 250px;
  } 
  
  .sec_notes {
      grid-area: notes;
      min-height: 50px;
      background-color: yellowgreen;
  } 
  
  .sec_saved {
      grid-area: saved;
      min-height: 50px;
  } 
  
  .sec_footer {
      grid-area: footer;
  } 
  
  .container_flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
  }
  
  .flex_item_1 {
      flex-grow: 1;
      border: 1px solid red;

    }
  
  .flex_item_2 {
      flex-grow: 2;
  }

.container_flex div.box {
    width: 175px;
}

//development resets
div {
	border-style:dotted;
	border: 1px;
	border-color: red;
}

.sec_trip .image {
    background-color: lightblue;
}

.weather_current {
    min-height: 50%;
    text-align: center;
}

.weather_forecast {
    max-height: 50%;
    margin-top: 5px;
    text-align: center;
}

//Buttons

button {
    font-size: 110%;
    width: 150px;
    padding: 10px;
    font-weight: 800;
}

.button_container {
    min-height: 75px;
    position: relative;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Weather Data

.data {
    min-height: 25px;
    min-width: 75px;
    align-content: center;
    padding: 10px;
}

.id_box, .trip_id {
    font-size: large;
    font-weight: 700;
    padding: 10px;
}
