header {
    display: flex;
    justify-content: space-between;
}

header {
    min-height: 75px;
    text-align: center;
    background-color: rgb(97, 124, 84);
    color: white;
}

#logo {
    margin: auto 5px;
    padding: 5px;
    color: white;
}

#navigation {
    margin: auto 5px;    
}

#navigation div.flex_item_1 {
    padding: 15px;
}